## Updating,modifyRows and Columns

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('data.csv')

In [5]:
df.head(2)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

 ## rename

In [10]:
df.rename(columns={'Hobbyist': 'Hobby'}, inplace=True)

In [11]:
df.head(1)

,Respondent,MainBranch,Hobby,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

## Map
What is we want to change the responses a true boolean value (True or False)

In [12]:
df['Hobby'].map({'Yes': True, 'No': False})

0         True
1        False
2         True
3        False
4         True
         ...
88878     True
88879    False
88880    False
88881    False
88882     True
Name: Hobby, Length: 88883, dtype: bool

In [14]:
# Change all columns to uppercase using a list comprehension:


df.columns = [x.upper() for x in df.columns]

In [15]:
df.head(1)

,RESPONDENT,MAINBRANCH,HOBBY,OPENSOURCER,OPENSOURCE,EMPLOYMENT,COUNTRY,STUDENT,EDLEVEL,UNDERGRADMAJOR,...,WELCOMECHANGE,SONEWCONTENT,AGE,GENDER,TRANS,SEXUALITY,ETHNICITY,DEPENDENTS,SURVEYLENGTH,SURVEYEASE
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

In [19]:
df.columns = [x.lower() for x in df.columns]

In [17]:
df.head(1)

,respondent,mainbranch,hobby,opensourcer,opensource,employment,country,student,edlevel,undergradmajor,...,welcomechange,sonewcontent,age,gender,trans,sexuality,ethnicity,dependents,surveylength,surveyease
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

In [22]:

df.loc[0,'opensource'] = ['John']

In [23]:
df.head(1)

,respondent,mainbranch,hobby,opensourcer,opensource,employment,country,student,edlevel,undergradmajor,...,welcomechange,sonewcontent,age,gender,trans,sexuality,ethnicity,dependents,surveylength,surveyease
0,1,I am a student who is learning to code,Yes,Never,[John],"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

In [25]:
df['opensourcer'].str.lower()

0                                                    never
1                                  less than once per year
2                                                    never
3                                                    never
4                               once a month or more often
                               ...
88878    less than once a month but more than once per ...
88879                                                never
88880                                                never
88881                                                never
88882                              less than once per year
Name: opensourcer, Length: 88883, dtype: object

In [29]:
df['hobby'].apply(len)

0        3
1        2
2        3
3        2
4        3
        ..
88878    3
88879    2
88880    2
88881    2
88882    3
Name: hobby, Length: 88883, dtype: int64